# Core functionality - changes here should be rare!
/src/app.py                   @EthanYap123
/src/backend/database.py      @EthanYap123
/src/backend/routers/auth.py  @EthanYap123

# The frontend will need refactored soon to be more object oriented.
/src/static/   @EthanYap123
